

<div>

  <p>Faut faire calcul par calcul</p>
  <p>exemple </p>
  <p>2+2 suivi de =</p>
  
  <p>pour lancer un nouveau calcul faut effacer tout d'abbord</p>
</div>
<div calculator>

{{mode}}
  <div flex>

    <p afficheur>{{screen}}</p> <app-btn (click)="setMode('c')" func>C</app-btn>

  </div>

  <div flex> 

    <app-btn (click)="attachToScreen(1)">1    
    </app-btn>
    <app-btn (click)="attachToScreen(2)">2</app-btn>
    <app-btn (click)="attachToScreen(3)">3</app-btn>
    <app-btn func (click)="setMode('+')">+</app-btn>
  </div>
  <div flex> 
    
    <app-btn (click)="attachToScreen(4)">4</app-btn>
    <app-btn (click)="attachToScreen(5)">5</app-btn>
    <app-btn (click)="attachToScreen(6)">6</app-btn>
    <app-btn func (click)="setMode('-')">-</app-btn>
  </div>
  <div flex> 
    
    <app-btn (click)="attachToScreen(7)">7</app-btn>
    <app-btn (click)="attachToScreen(8)">8</app-btn>
    <app-btn (click)="attachToScreen(9)">9</app-btn>
    <app-btn func (click)="setMode('*')">*</app-btn>
  </div>
  <div flex> 
    
    <app-btn (click)="attachToScreen(',')">,</app-btn>
    <app-btn (click)="attachToScreen(0)">0</app-btn>
    <app-btn func (click)="setMode('=')">=</app-btn>
    <app-btn func (click)="setMode('/')">/</app-btn>
  </div>







</div>